.cardscontainer {
  max-width: 1000px; /* Ancho máximo para cada columna */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Cambia grid-template-columns */
  grid-gap: 20px;
  margin: 10px;
  justify-content: center; /* Centra las columnas */
}
